{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('main.list_employees') }}">↩ Повернутись</a>
    <h2 style="margin-top: 15px">Додати співробітника</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table class="form-table">
            <tbody class="form-table-body">
                <tr>
                    <td>{{ form.id_employee.label(class="") }}</td>
                    <td>{{ form.id_employee(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.empl_surname.label(class="") }}</td>
                    <td>{{ form.empl_surname(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.empl_name.label(class="") }}</td>
                    <td>{{ form.empl_name(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.empl_patronymic.label(class="") }}</td>
                    <td>{{ form.empl_patronymic(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.empl_role.label(class="") }}</td>
                    <td>{{ form.empl_role(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.salary.label(class="") }}</td>
                    <td>{{ form.salary(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.date_of_birth.label(class="") }}</td>
                    <td>{{ form.date_of_birth(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.date_of_start.label(class="") }}</td>
                    <td>{{ form.date_of_start(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone_number.label(class="") }}</td>
                    <td>{{ form.phone_number(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.city.label(class="") }}</td>
                    <td>{{ form.city(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.street.label(class="") }}</td>
                    <td>{{ form.street(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.zip_code.label(class="") }}</td>
                    <td>{{ form.zip_code(class="") }}</td>
                </tr>
            </tbody>
        </table>
        {{ form.submit(class="") }}
    </form>
{% endblock %}