{% extends "base.html" %}

{% block content %}
    <h2>Співробітники</h2>
    <a href="{{ url_for('main.add_employee') }}" style="font-weight: bold;">+ Додати</a>
    <form class="search-form">
        <h3>Пошук</h3>
        <table class="form-table">
            <tbody class="form-table-body">
                <tr>
                    <td><label for="search_surname">Прізвище</label></td>
                    <td><input id="search_surname" name="search_surname" type="text"></td>
                </tr>
                <tr>
                    <td><label for="search_role">Посада</label></td>
                    <td><select name="search_role" id="search_role">
                    <option value="">-</option>
                    <option value="Менеджер">Менеджер</option>
                    <option value="Касир">Касир</option>
                    </select></td>
                </tr>
            </tbody>
        </table>
        <button>Шукати</button>
        <a href="{{ url_for("main.list_employees") }}">Скинути</a>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По батькові</th>
                <th>Посада</th>
                <th>Зарплата</th>
                <th>Дата народження</th>
                <th>Дата початку роботи</th>
                <th>Номер телефону</th>
                <th>Місто</th>
                <th>Вулиця</th>
                <th>Індекс</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id_employee }}</td>
                <td>{{ employee.empl_surname }}</td>
                <td>{{ employee.empl_name }}</td>
                <td>{{ employee.empl_patronymic }}</td>
                <td>{{ employee.empl_role }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.date_of_birth }}</td>
                <td>{{ employee.date_of_start }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>{{ employee.city }}</td>
                <td>{{ employee.street }}</td>
                <td>{{ employee.zip_code }}</td>
                <td class="service-column">
                    <a href="{{ url_for('main.edit_employee', id_employee=employee.id_employee) }}">Редагувати</a>
                    |
                    <form action="{{ url_for('main.delete_employee', id_employee=employee.id_employee) }}"
                        method="POST" style="display:inline;"
                        onsubmit="return confirm('Ви впевнені, що хочете видалити співробітника \
                                {{ employee.id_employee }} | {{ employee.empl_name }} {{ employee.empl_surname }}?');">
                        <button type="submit" style="color: red; border:none; background:none; padding:0">
                            Видалити
                        </button>
                    </form>
                    <!-- TODO: Add a button for creating and/or deleting user account + backend side -->
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No categories found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}