{% extends "base.html" %}

{% block content %}
    <h2>Товари в магазині</h2>
    <a href="{{ url_for('main.add_store_product') }}" style="font-weight: bold;">+ Створити</a>
    <form class="search-form">
        <h3>Пошук</h3>
        <table class="form-table">
            <tbody class="form-table-body">
                <tr>
                    <td><label for="search_UPC">UPC</label></td>
                    <td><input id="search_UPC" name="search_UPC" type="text" maxlength=12></td>
                </tr>
                <tr>
                    <td><label for="search_name">Назва</label></td>
                    <td><input id="search_name" name="search_name" type="text"></td>
                </tr>
                <tr>
                    <td><label for="search_promo">Тип</label></td>
                    <td><select name="search_promo" id="search_promo">
                      <option value="0">Усі</option>
                      <option value="1">Акціний</option>
                      <option value="-1">Не акційний</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="search_category">Категорія</label></td>
                    <td><select name="search_category" id="search_category">
                        <option value="">Усі</option>
                        {% for cat in categories %}
                            <option value="{{ cat.category_number }}">{{ cat.category_name }}</option>
                        {% endfor %}
                    </select></td>
                <td></tr>
                <tr>
                    <td><label for="sorting">Сортування</label></td>
                    <td><select name="sorting" id="sorting">
                        <option value="UPC" {% if sorting == 'UPC' %}selected{% endif %}>UPC</option>
                        <option value="product_name" {% if sorting == 'product_name' %}selected{% endif %}>Назва</option>
                        <option value="products_number" {% if sorting == 'products_number' %}selected{% endif %}>Кількість</option>
                    </select></td>
                </tr>
            </tbody>
        </table>
        <button>Шукати</button>
        <a href="{{ url_for("main.list_store_products") }}">Скинути</a>
    </form>
    <table>
        <thead>
            <tr>
                <th>UPC</th>
                <th>Назва</th>
                <th>Виробник</th>
                <th>Категорія</th>
                <th>Ціна</th>
                <th>Кількість</th>
                <th>Акційний</th>
                <th>UPC акційного товару</th>
                <th class="service-column" style="min-width: 50px">Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.UPC }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.producer_name }}</td>
                <td>{{ product.category_name }}</td>
                <td>{{ product.selling_price }}</td>
                <td>{{ product.products_number }}</td>
                <td>
                    {% if product.promotional_product %}
                        +
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if product.UPC_prom %}
                        {{ product.UPC_prom }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="service-column">
                    <a href="{{ url_for('main.edit_store_product', upc=product.UPC) }}">Редагувати</a>
                    |
                    <form action="{{ url_for('main.delete_store_product', upc=product.UPC) }}"
                          method="POST" style="display:inline;"
                          onsubmit="return confirm('Ви впевнені, що хочете видалити товар \
                                   {{ product.UPC }} {{ product.product_name }}?');">
                        <button type="submit" style="color: red; border:none; background:none; padding:0">
                            Видалити
                        </button>
                    </form>
                    <!-- TODO: Зробити кнопку для створення акційного товару-->
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="9">Товарів не знайдено.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}