{% extends "base.html" %}

{% block content %}
    <h2>Категорії</h2>
    <a href="{{ url_for('main.add_category') }}" style="font-weight: bold;">+ Створити</a>

    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Назва</th>
                <th class="service-column" style="min-width: 50px">Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in categories %}
            <tr>
                <td>{{ cat.category_number }}</td>
                <td>{{ cat.category_name }}</td>
                <td class="service-column">
                    <a href="{{ url_for('main.edit_category', category_number=cat.category_number) }}">Редагувати</a>
                    |
                    <form action="{{ url_for('main.delete_category', category_number=cat.category_number) }}"
                          method="POST" style="display:inline;"
                          onsubmit="return confirm('Ви впевнені, що хочете видалити категорію {{ cat.category_name }}?');">
                        <button type="submit" style="color: red; border:none; background:none; padding:0">
                            Видалити
                        </button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Категорій не знайдено.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}