{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('main.list_products') }}">↩ Повернутись</a>
    <h2 style="margin-top: 15px">Редагувати товар №{{ product.id_product }} {{ product.product_name }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table class="form-table">
            <tbody class="form-table-body">
                <tr>
                    <td>{{ form.id_product.label(class="") }}</td>
                    <td>{{ form.id_product(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.product_name.label(class="") }}</td>
                    <td>{{ form.product_name(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.producer_name.label(class="") }}</td>
                    <td>{{ form.producer_name(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.category_number.label(class="") }}</td>
                    <td>{{ form.category_number(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.characteristics.label(class="") }}</td>
                    <td>{{ form.characteristics(class="") }}</td>
                </tr>
            </tbody>
        </table>
        {{ form.submit(class="") }}
    </form>
{% endblock %}