{% extends "base.html" %}

{% block content %}
<h2>Товари</h2>
<a href="{{ url_for('main.add_product') }}" style="font-weight: bold;">+ Створити</a>

<form class="search-form">
    <h3>Пошук</h3>
    <table class="form-table">
        <tbody class="form-table-body">
            <tr>
                <td><label for="search_name">Назва</label></td>
                <td><input id="search_name" name="search_name" type="text"></td>
            </tr>
            <tr>
                <td><label for="search_category">Категорія</label></td>
                <td><select name="search_category" id="search_category">
                    <option value="">Усі</option>
                    {% for cat in categories %}
                    <option value="{{ cat.category_number }}"
                            {% if cat.category_number == selected_category %}selected{% endif %}>
                        {{ cat.category_name }}
                    </option>
                    {% endfor %}
                </select></td>
            </tr>
        </tbody>
    </table>
    <button>Шукати</button>
    <a href="{{ url_for("main.list_products") }}">Скинути</a>
</form>

<table>
    <thead>
    <tr>
        <th style="min-width: 50px; padding-right: 16px">ID</th>
        <th style="padding-right: 16px">Назва</th>
        <th style="padding-right: 16px">Виробник</th>
        <th style="padding-right: 16px">Категорія</th>
        <th style="padding-right: 16px">Характеристики</th>
        <th class="service-column" style="min-width: 50px">Дії</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.id_product }}</td>
        <td style="padding-right: 16px">{{ product.product_name }}</td>
        <td style="padding-right: 16px">{{ product.producer_name }}</td>
        <td style="padding-right: 16px">{{ product.category_name }}</td>
        <td style="padding-right: 16px">{{ product.characteristics }}</td>
        <td class="service-column">
            <a href="{{ url_for('main.edit_product', id_product=product.id_product) }}">Редагувати</a>
            |
            <form action="{{ url_for('main.delete_product', id_product=product.id_product) }}"
                  method="POST" style="display:inline;"
                  onsubmit="return confirm('Ви впевнені, що хочете видалити товар \
                                   №{{ product.id_product }} {{ product.product_name }}?');">
                <button type="submit" style="color: red; border:none; background:none; padding:0">
                    Видалити
                </button>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6">Товарів не знайдено.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}