{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('main.list_customers') }}">↩ Повернутись</a>
    <h2 style="margin-top: 15px">Додати карту клієнта</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table class="form-table">
            <tbody class="form-table-body">
                <tr>
                    <td>{{ form.card_number.label(class="") }}</td>
                    <td>{{ form.card_number(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.cust_surname.label(class="") }}</td>
                    <td>{{ form.cust_surname(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.cust_name.label(class="") }}</td>
                    <td>{{ form.cust_name(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.cust_patronymic.label(class="") }}</td>
                    <td>{{ form.cust_patronymic(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone_number.label(class="") }}</td>
                    <td>{{ form.phone_number(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.city.label(class="") }}</td>
                    <td>{{ form.city(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.street.label(class="") }}</td>
                    <td>{{ form.street(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.zip_code.label(class="") }}</td>
                    <td>{{ form.zip_code(class="") }}</td>
                </tr>
                <tr>
                    <td>{{ form.percent.label(class="") }}</td>
                    <td>{{ form.percent(class="") }}%</td>
                </tr>
            </tbody>
        </table>
        {{ form.submit(class="") }}
    </form>
{% endblock %}