{% extends "base.html" %}
{% block content %}
    <div class="stats-container">
        <h1>Статистика</h1>
        <div class="stats-links-container">
            <a class="stats-link" href="{{ url_for("main.cashier_stats") }}">Статистика виторгу касирів</a>
            <a class="stats-link" href="{{ url_for("main.product_stats") }}">Статистика продажів за товаром</a>
            <a class="stats-link" href="{{ url_for("main.top_5_products") }}">Найприбутковіші товари серед постійних клієнтів</a>
            <a class="stats-link" href="{{ url_for("main.popular_among_customers") }}">Продукти, які купують усі постійні клієнти</a>
        </div>
    </div>
{% endblock %}