{% extends "base.html" %}

{% block content %}
    <div class="auth-page">
        <div class="auth-container">
            <h2>Authentification</h2>
            <p class="auth-txt">Please log in to access the application.</p>
            <form>
                <div class="form-subdiv">
                    <input type="email" placeholder="Email" class="form-input" required>
                </div>
                <div class="form-subdiv">
                    <input type="password" placeholder="Password" class="form-input" required>
                </div>
                <div class="form-subdiv">
                    <button type="submit" class="log-in-btn">Log In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}