{% extends "base.html" %}

{% block content %}
    <div class="auth-page">
        <div class="auth-container">
            <h2>Authentification</h2>
            <p class="auth-txt">Please log in to access the application.</p>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-subdiv">
                    {{ form.email(class="form-input", placeholder="Email") }}
                </div>
                <div class="form-subdiv">
                    {{ form.password(class="form-input", placeholder="Password") }}
                </div>
                <div class="form-subdiv">
                    {{ form.submit(class="log-in-btn") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}