<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Zlagoda</title>
</head>
<body>
    {% block content %}{% endblock %}
    <script>
        const datetime_selector = document.querySelector('input[type="datetime-local"]');
        const date = new Date()

        if (datetime_selector)
            datetime_selector.value = `${date.toJSON().slice(0, 10)}T00:00`;
    </script>
</body>
</html>