<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='autoComplete.css') }}">
    <title>Zlagoda</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    <header>
        <h1 class="header-title">ZLAGODA</h1>
    </header>

    {% endif %}
    <div class="index-page">
        {% if current_user.is_authenticated %}
        <div class="index-menu">
            <div class="main-links-container">
                {% if current_user.role == "cashier" %}
                <a class="menu-btn" href="{{ url_for("main.check_create") }}">Створити чек</a>
                {% endif %}
                {% if current_user.role == "manager" %}
                <a class="menu-btn" href="{{ url_for("main.list_categories") }}">Категорії</a>
                {% endif %}
                <a class="menu-btn" href="{{ url_for("main.list_products") }}">Товари</a>
                <a class="menu-btn" href="{{ url_for("main.list_store_products") }}">Товари в магазині</a>
                <a class="menu-btn" href="{{ url_for("main.list_customers") }}">Клієнтські картки</a>
                <a class="menu-btn" href="{{ url_for("main.list_checks") }}">Чеки</a>
                {% if current_user.role == "manager" %}
                <a class="menu-btn" href="{{ url_for("main.list_employees") }}">Співробітники</a>
                <a class="menu-btn" href="{{ url_for("main.stats") }}">Звіти та статистика</a>
                {% endif %}
            </div>
            <div class="bottom-links-container">
                <a class="menu-btn" href="{{ url_for("main.display_profile") }}">Профіль</a>
                <a class="menu-btn" href="{{ url_for("auth.logout") }}">Вийти</a>
            </div>
        </div>
    {% endif %}
        <div class="index-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages-container">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                <span>{{ message }}</span>
                                <span class="close-flash-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <script>
        const datetime_selector = document.querySelector('input[type="datetime-local"]');
        const date = new Date()

        if (datetime_selector)
            datetime_selector.value = `${date.toJSON().slice(0, 10)}T00:00`;


        document.addEventListener('DOMContentLoaded', () => {
            const flashMessages = document.querySelectorAll('.flash-message');

            flashMessages.forEach(msg => {
                setTimeout(() => {
                    msg.style.opacity = '0';

                    setTimeout(() => {
                        msg.style.display = 'none';
                    }, 500);

                }, 4000);
            });
        });
    </script>
</body>
</html>