{% extends "base.html" %}

{% block content %}
    <header>
        <h1 class="header-title">ZLAGODA</h1>
    </header>
    <div class="index-page">
        <div class="index-menu">
            <button class="menu-btn">Categories</button>
            <button class="menu-btn">Products</button>
            <button class="menu-btn">Products in store</button>
            <button class="menu-btn">Customers</button>
            <button class="menu-btn">Employees</button>
        </div>
        <div class="index-content">
            <!-- Index content goes here -->
        </div>
    </div>
{% endblock %}